{% extends 'Layout/main.html.twig' %}

{% block content %}
    <div id="content">
        <div id="search-box">
            <input id="search" placeholder="Search for Blocks"/>
        </div>
    </div>
{% endblock %}